@model IEnumerable<GerenciamentoBiblioteca.Models.Livro>

@{
    ViewData["Title"] = "Listagem de Livros";
}

<h2>Livros</h2>

<p>
    <a asp-action="Adicionar" class="btn btn-primary">Novo Livro</a>
</p>

<!-- Campo de busca -->
<form asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="searchString" placeholder="Buscar livro pelo título..." aria-label="Buscar livro pelo título">
        <button class="btn btn-outline-secondary" type="submit">Buscar</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoPublicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                Opções
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AnoPublicacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-primary">Editar</a> 
                    <a asp-action="Detalhes" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a> 
                    <a asp-action="Remover" asp-route-id="@item.Id" class="btn btn-primary">Remover</a>
                </td>

            </tr>
        }
    </tbody>

</table>