@model IEnumerable<GerenciamentoBiblioteca.Models.Usuario>

@{
    ViewData["Title"] = "Listagem de Usuarios";
}

<h2>Usuários</h2>

<p>
    <a asp-action="Adicionar" class="btn btn-primary">Novo Usuário</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>    
             <th>
                Opções
            </th>                 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    ******
                </td>                
                
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-primary">Editar</a> 
                    <a asp-action="Detalhes" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a> 
                    <a asp-action="Remover" asp-route-id="@item.Id" class="btn btn-primary">Remover</a>
                </td>

            </tr>
        }
    </tbody>

</table>